workflows/sae-first-intake-webhook.json
{
  "id": "sae-first-intake-webhook",
  "name": "SAE - First AI Opportunity Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sae-ai-opportunity-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f8c42d35-9bb3-4dc9-a08d-4e21ab780a1f",
      "name": "SAE Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "sae-ai-opportunity-intake"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body && typeof item.body === 'object' ? item.body : item;\n\nconst text = (...values) => values.find((value) => typeof value === 'string' && value.trim())?.trim() || '';\nconst lower = (value) => text(value).toLowerCase();\nconst includesAny = (value, terms) => terms.some((term) => value.includes(term));\nconst slugify = (value) => text(value)\n  .toUpperCase()\n  .replace(/[^A-Z0-9]+/g, '-')\n  .replace(/^-|-$/g, '')\n  .slice(0, 28) || 'LEAD';\n\nconst companyName = text(body.companyName, body.company, body.businessName, 'Unknown company');\nconst contactName = text(body.contactName, body.name, body.fullName);\nconst email = text(body.email, body.contactEmail);\nconst phone = text(body.phone, body.whatsapp, body.contactPhone);\nconst website = text(body.website, body.url);\nconst market = text(body.market, body.country, body.region, 'Morocco');\nconst problem = text(body.problem, body.challenge, body.request, body.message);\nconst channel = lower(body.channel, body.source, 'website');\nconst urgency = lower(body.urgency, body.timeline, 'standard');\nconst budget = lower(body.budget, body.budgetRange);\nconst language = text(body.language, body.preferredLanguage, 'fr');\nconst industryInput = lower(body.industry, body.sector);\nconst companySize = text(body.companySize, body.teamSize, body.size);\n\nconst corpus = `${industryInput} ${lower(market)} ${lower(problem)} ${lower(companyName)}`;\n\nconst industryRules = [\n  ['healthcare', ['clinic', 'dental', 'doctor', 'medical', 'patient', 'health', 'cabinet']],\n  ['real_estate', ['real estate', 'immobilier', 'property', 'agent', 'apartment', 'villa', 'rental']],\n  ['education', ['school', 'ecole', 'training', 'course', 'student', 'academy']],\n  ['ecommerce', ['ecommerce', 'shop', 'store', 'retail', 'orders', 'delivery']],\n  ['hospitality', ['hotel', 'restaurant', 'riad', 'booking', 'reservation']],\n  ['agency', ['agency', 'studio', 'client delivery', 'outsourcing', 'white label']],\n  ['professional_services', ['law', 'accounting', 'consulting', 'service business']],\n];\n\nconst detectedIndustry = industryRules.find(([, terms]) => includesAny(corpus, terms))?.[0]\n  || text(body.industry, body.sector, 'general_business');\n\nconst useCaseRules = [\n  ['agency_delivery_partner', ['agency', 'white label', 'outsourcing', 'client delivery']],\n  ['ai_whatsapp_assistant', ['whatsapp', 'customer support', 'support', 'customer message', 'lead follow-up', 'appointment', 'booking']],\n  ['mvp_app_launch', ['app', 'mvp', 'platform', 'portal', 'dashboard', 'internal tool']],\n  ['lead_generation', ['lead', 'sales', 'prospect', 'pipeline', 'crm']],\n  ['operations_automation', ['invoice', 'admin', 'report', 'workflow', 'manual', 'operations', 'spreadsheet']],\n  ['content_localization', ['content', 'translation', 'arabic', 'french', 'localization']],\n];\n\nconst primaryUseCase = useCaseRules.find(([, terms]) => includesAny(corpus, terms))?.[0] || 'ai_opportunity_audit';\nconst isMoroccanMarket = includesAny(lower(market), ['morocco', 'maroc', 'ma', 'casablanca', 'rabat', 'marrakech', 'tanger', 'agadir', 'fes', 'fez']);\nconst isInternational = !isMoroccanMarket || includesAny(corpus, ['global', 'international', 'abroad', 'europe', 'usa', 'uk', 'france']);\nconst isHighUrgency = includesAny(urgency, ['urgent', 'this week', 'asap', 'now', 'immediate']);\nconst isWarmChannel = includesAny(channel, ['intch', 'referral', 'partner', 'whatsapp']);\nconst hasProblem = problem.length >= 20;\nconst hasBudget = Boolean(budget);\nconst hasContact = Boolean(email || phone);\n\nconst scoreBreakdown = {\n  problemClarity: hasProblem ? 1 : 0,\n  budgetSignal: hasBudget ? 1 : 0,\n  urgency: isHighUrgency ? 1 : 0,\n  warmChannel: isWarmChannel ? 1 : 0,\n  marketFit: (isMoroccanMarket || isInternational) ? 1 : 0,\n  contactability: hasContact ? 1 : 0,\n};\n\nconst score = Object.values(scoreBreakdown).reduce((total, value) => total + value, 0);\nconst qualification = score >= 5 ? 'hot' : score >= 3 ? 'warm' : 'early';\n\nconst offerByUseCase = {\n  ai_whatsapp_assistant: 'AI WhatsApp Assistant',\n  mvp_app_launch: 'MVP/App Launch Sprint',\n  lead_generation: 'Business Automation Sprint',\n  operations_automation: 'Business Automation Sprint',\n  agency_delivery_partner: 'AI Outsourcing Partner',\n  content_localization: 'Free AI Opportunity Audit',\n  ai_opportunity_audit: 'Free AI Opportunity Audit',\n};\n\nconst recommendedOffer = offerByUseCase[primaryUseCase] || 'Free AI Opportunity Audit';\nconst nextAction = qualification === 'hot'\n  ? 'Book a discovery call and prepare a paid pilot proposal.'\n  : qualification === 'warm'\n    ? 'Offer a free 30-minute AI audit and ask the discovery questions.'\n    : 'Send a short clarification message before offering the audit.';\n\nconst dataSensitivity = ['healthcare', 'finance', 'hr', 'legal'].includes(detectedIndustry) ? 'high' : 'standard';\nconst capturedAt = new Date().toISOString();\nconst leadId = `SAE-${capturedAt.slice(0, 10).replaceAll('-', '')}-${slugify(companyName)}`;\nconst summary = `${companyName} is a ${qualification} lead for ${recommendedOffer}.`;\n\nconst auditChecklist = [\n  'Confirm the business goal and success metric.',\n  'Map the current lead/customer workflow.',\n  'Identify the first automation that can ship without sensitive data.',\n  'Confirm tools to connect first.',\n  'Define the pilot acceptance criteria.',\n];\n\nconst discoveryQuestions = [\n  'Which workflow currently costs the most time each week?',\n  'Who owns the follow-up after a lead or customer message arrives?',\n  'Which tools must the automation connect to first?',\n  'What data should never leave your current systems?',\n  'What result would make this pilot worth paying for?',\n];\n\nconst recommendedStack = primaryUseCase === 'ai_whatsapp_assistant'\n  ? ['n8n', 'WhatsApp Business API provider', 'Google Sheets/CRM', 'Claude or OpenAI for response drafting']\n  : primaryUseCase === 'mvp_app_launch'\n    ? ['Next.js', 'Supabase or Neon Postgres', 'n8n', 'Claude/OpenAI for assistant features']\n    : ['n8n', 'Google Sheets/Notion/Airtable', 'Email or WhatsApp notifications', 'Claude/OpenAI proposal generation'];\n\nconst persistenceRecord = {\n  leadId,\n  companyName,\n  contactName,\n  email,\n  phone,\n  website,\n  market,\n  language,\n  detectedIndustry,\n  companySize,\n  primaryUseCase,\n  sourceChannel: channel,\n  problem,\n  urgency,\n  budget,\n  qualification,\n  score,\n  scoreBreakdown,\n  recommendedOffer,\n  nextAction,\n  status: qualification === 'hot' ? 'Discovery call needed' : qualification === 'warm' ? 'Audit offered' : 'Needs clarification',\n  dataSensitivity,\n  capturedAt,\n  tags: ['sae', 'nexusai', qualification, detectedIndustry, primaryUseCase, recommendedOffer.toLowerCase().replace(/[^a-z0-9]+/g, '-')],\n  cndpNote: dataSensitivity === 'high'\n    ? 'High-sensitivity lead. Confirm CNDP, client consent, hosting, and data minimization before processing personal or sensitive data.'\n    : 'Store only lead-intake data needed for follow-up; confirm CNDP and client data requirements before adding sensitive fields.',\n};\n\nconst notification = {\n  shouldNotify: qualification === 'hot',\n  priority: qualification === 'hot' ? 'high' : 'normal',\n  channels: ['whatsapp', 'email', 'slack-or-telegram'],\n  title: `${qualification === 'hot' ? 'Hot' : 'New'} SAE lead: ${companyName}`,\n  message: `${summary} Source: ${channel}. Market: ${market}. Use case: ${primaryUseCase}. Next action: ${nextAction}`,\n  callToAction: nextAction,\n};\n\nconst proposalDraft = {\n  title: `${recommendedOffer} for ${companyName}`,\n  opening: `Thanks for sharing the challenge. Based on the intake, the best next step is ${recommendedOffer}.`,\n  diagnosis: [\n    `Main problem: ${problem || 'Needs discovery.'}`,\n    `Market context: ${market}`,\n    `Detected industry: ${detectedIndustry}`,\n    `Primary use case: ${primaryUseCase}`,\n    `Lead temperature: ${qualification} (${score}/6)`,\n  ],\n  proposedScope: [\n    'Map the current workflow and success criteria.',\n    'Ship a working first automation or app slice.',\n    'Connect the first operational system or lead source.',\n    'Review results and define the next paid rollout.',\n  ],\n  firstMilestone: qualification === 'hot'\n    ? 'Prepare a paid pilot proposal after discovery call.'\n    : 'Run the free AI opportunity audit first.',\n  auditChecklist,\n  discoveryQuestions,\n  recommendedStack,\n  aiPrompt: `Write a concise professional proposal for ${companyName}. Offer: ${recommendedOffer}. Industry: ${detectedIndustry}. Use case: ${primaryUseCase}. Problem: ${problem}. Market: ${market}. Data sensitivity: ${dataSensitivity}. Tone: confident, practical, bilingual-friendly for Moroccan B2B.`,\n};\n\nconst connectorTargets = {\n  notion: 'Create a database item using persistenceRecord fields.',\n  airtable: 'Create a record using persistenceRecord as fields.',\n  googleSheets: 'Append one row from persistenceRecord values.',\n  crm: 'Create or update a lead, then attach proposalDraft and notification.message.',\n  notification: 'If notification.shouldNotify is true, send notification.message to WhatsApp, email, Slack, or Telegram.',\n  aiProposal: 'Send proposalDraft.aiPrompt to Claude, OpenAI, Gemini, or Cursor to generate the first client-facing proposal.',\n};\n\nreturn [{\n  json: {\n    saeTemplate: 'first-ai-opportunity-intake',\n    status: 'qualified',\n    leadId,\n    companyName,\n    contactName,\n    email,\n    phone,\n    website,\n    market,\n    language,\n    detectedIndustry,\n    primaryUseCase,\n    dataSensitivity,\n    sourceChannel: channel,\n    qualification,\n    score,\n    scoreBreakdown,\n    recommendedOffer,\n    nextAction,\n    summary,\n    capturedAt,\n    persistenceRecord,\n    notification,\n    proposalDraft,\n    connectorTargets,\n  },\n}];"
      },
      "id": "dfca8f4a-d1c8-48b4-a0ff-0e2961740f13",
      "name": "Normalize + Score Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b15ef08d-f61a-4855-8306-3bcafad813a3",
      "name": "Return SAE Intake Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "SAE Intake Webhook": {
      "main": [
        [
          {
            "node": "Normalize + Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Score Lead": {
      "main": [
        [
          {
            "node": "Return SAE Intake Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SAE"
    },
    {
      "name": "Template"
    },
    {
      "name": "Lead Intake"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-06-17T00:00:00.000Z",
  "versionId": "1"
}
