workflows/sae-first-intake-webhook.json
{
  "id": "sae-first-intake-webhook",
  "name": "SAE - First AI Opportunity Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sae-ai-opportunity-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f8c42d35-9bb3-4dc9-a08d-4e21ab780a1f",
      "name": "SAE Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "sae-ai-opportunity-intake"
    },
    {
      "parameters": {
        "jsCode": "const item=$input.first().json;const body=item.body&&typeof item.body==='object'?item.body:item;const text=(...values)=>values.find((value)=>typeof value==='string'&&value.trim())?.trim()||'';const lower=(value)=>text(value).toLowerCase();const companyName=text(body.companyName,body.company,body.businessName,'Unknown company');const market=text(body.market,body.country,body.region,'Morocco');const problem=text(body.problem,body.challenge,body.request,body.message);const channel=lower(body.channel,body.source,'website');const urgency=lower(body.urgency,body.timeline,'standard');const budget=lower(body.budget,body.budgetRange);const language=text(body.language,body.preferredLanguage,'fr');const hasProblem=problem.length>=20;const hasBudget=Boolean(budget);const isHighUrgency=['urgent','this week','asap','now'].some((term)=>urgency.includes(term));const isWarmChannel=['intch','referral','partner','whatsapp'].some((term)=>channel.includes(term));const isMoroccanMarket=['morocco','maroc','ma','casablanca','rabat','marrakech','tanger','agadir'].some((term)=>lower(market).includes(term));const score=[hasProblem,hasBudget,isHighUrgency,isWarmChannel,isMoroccanMarket].filter(Boolean).length;const qualification=score>=4?'hot':score>=2?'warm':'early';let recommendedOffer='Free AI Opportunity Audit';if(qualification==='hot'){recommendedOffer='Business Automation Sprint';}else if(problem.match(/app|mvp|platform|dashboard|portal/i)){recommendedOffer='MVP/App Launch Sprint';}else if(problem.match(/whatsapp|support|customer|lead|sales/i)){recommendedOffer='AI WhatsApp Assistant';}const nextAction=qualification==='hot'?'Book a discovery call and prepare a paid pilot proposal.':'Offer a free 30-minute AI audit and collect workflow details.';const capturedAt=new Date().toISOString();const leadSlug=companyName.toUpperCase().replace(/[^A-Z0-9]+/g,'-').replace(/^-|-$/g,'').slice(0,28)||'LEAD';const leadId=`SAE-${capturedAt.slice(0,10).replaceAll('-','')}-${leadSlug}`;const summary=`${companyName} is a ${qualification} lead for ${recommendedOffer}.`;const persistenceRecord={leadId,companyName,market,language,sourceChannel:channel,problem,urgency,budget,qualification,score,recommendedOffer,nextAction,status:qualification==='hot'?'Discovery call needed':'Audit offered',capturedAt,tags:['sae','nexusai',qualification,recommendedOffer.toLowerCase().replace(/[^a-z0-9]+/g,'-')],cndpNote:'Store only lead-intake data needed for follow-up; confirm CNDP and client data requirements before adding sensitive fields.'};const notification={shouldNotify:qualification==='hot',priority:qualification==='hot'?'high':'normal',channels:['whatsapp','email','slack-or-telegram'],title:`Hot SAE lead: ${companyName}`,message:`${summary} Source: ${channel}. Market: ${market}. Next action: ${nextAction}`,callToAction:nextAction};const proposalDraft={title:`${recommendedOffer} for ${companyName}`,opening:`Thanks for sharing the challenge. Based on the intake, the best next step is ${recommendedOffer}.`,diagnosis:[`Main problem: ${problem||'Needs discovery.'}`,`Market context: ${market}`,`Lead temperature: ${qualification} (${score}/5)`],proposedScope:['Map the current workflow and success criteria.','Ship a working first automation or app slice.','Review results and define the next paid rollout.'],firstMilestone:qualification==='hot'?'Prepare a paid pilot proposal after discovery call.':'Run the free AI opportunity audit first.',discoveryQuestions:['Which workflow currently costs the most time each week?','Who owns the follow-up after a lead or customer message arrives?','Which tools must the automation connect to first?'],aiPrompt:`Write a concise professional proposal for ${companyName}. Offer: ${recommendedOffer}. Problem: ${problem}. Market: ${market}. Tone: confident, practical, bilingual-friendly for Moroccan B2B.`};const connectorTargets={notion:'Create a database item using persistenceRecord fields.',airtable:'Create a record using persistenceRecord as fields.',googleSheets:'Append one row from persistenceRecord values.',crm:'Create or update a lead, then attach proposalDraft and notification.message.'};return[{json:{saeTemplate:'first-ai-opportunity-intake',status:'qualified',leadId,companyName,market,language,sourceChannel:channel,qualification,score,recommendedOffer,nextAction,summary,capturedAt,persistenceRecord,notification,proposalDraft,connectorTargets}}];"
      },
      "id": "dfca8f4a-d1c8-48b4-a0ff-0e2961740f13",
      "name": "Normalize + Score Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b15ef08d-f61a-4855-8306-3bcafad813a3",
      "name": "Return SAE Intake Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "SAE Intake Webhook": {
      "main": [
        [
          {
            "node": "Normalize + Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Score Lead": {
      "main": [
        [
          {
            "node": "Return SAE Intake Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SAE"
    },
    {
      "name": "Template"
    },
    {
      "name": "Lead Intake"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-06-17T00:00:00.000Z",
  "versionId": "1"
}
